.idea
.vs
.docs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.make
*.dir
*.ninja
*.sln
*.slnx
*cmake_install.cmake
imgui.ini

Makefile
CMakeFiles
CMakeCache.txt
__pycache__
bin
out
lib
cmake
bin-cmake

resources/shaders/bin

scripts/premake
scripts/downloads
scriptengine/obj
scriptengine/bin
scripts/bin
scripts/obj
.agent
openspec
