.idea
.vs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.make

/bin
/build
/build-release
/bin-int
/out
/lib
/bin-cmake
/resources/shaders/bin
/scripts/__pycache__
/scripts/premake

IGN.sln
IGN.sln.DotSettings.user
scriptcore/Makefile
engine/Makefile
editor/Makefile
