[submodule "thirdparty/SPDLOG"]
	path = thirdparty/SPDLOG
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/GLM"]
	path = thirdparty/GLM
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/BOX2D"]
	path = thirdparty/BOX2D
	url = https://github.com/erincatto/box2d.git
[submodule "thirdparty/YAML"]
	path = thirdparty/YAML
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "thirdparty/NVRHI"]
	path = thirdparty/NVRHI
	url = https://github.com/NVIDIA-RTX/NVRHI.git
[submodule "thirdparty/JOLT"]
	path = thirdparty/JOLT
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "thirdparty/IGNSERVER"]
	path = thirdparty/IGNSERVER
	url = https://github.com/evangelionxyz/Ignite-Server.git
[submodule "thirdparty/MochiSharp"]
	path = thirdparty/MochiSharp
	url = https://github.com/evangelionxyz/MochiSharp.git
[submodule "thirdparty/MSDF-ATLAS-GEN"]
	path = thirdparty/MSDF-ATLAS-GEN
	url = https://github.com/evangelionxyz/msdf-atlas-gen.git
[submodule "thirdparty/tracy"]
	path = thirdparty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "thirdparty/UmbraShaderCompiler"]
	path = thirdparty/UmbraShaderCompiler
	url = https://github.com/evangelionxyz/Umbra-ShaderCompiler.git
[submodule "thirdparty/ImGui"]
	path = thirdparty/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/gtest"]
	path = thirdparty/gtest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/RmlUi"]
	path = thirdparty/RmlUi
	url = https://github.com/mikke89/RmlUi.git
[submodule "thirdparty/Vulkan-Headers"]
	path = thirdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "thirdparty/DirectX-Headers"]
	path = thirdparty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "thirdparty/SDL3"]
	path = thirdparty/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/Harmony"]
	path = thirdparty/Harmony
	url = https://github.com/pardeike/Harmony.git
