.idea
.vs
.docs
.scratchfiles
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.make
*.dir
*.ninja
*.sln
*.slnx
*.aps
.agent
.agents
cmake_install.cmake
imgui.ini
Makefile
CMakeFiles
CMakeCache.txt
bin
out
lib
cmake
bin-cmake
scripts/premake
scripts/downloads
scriptengine/obj
scriptengine/bin
scripts/bin
scripts/obj
openspec
__pycache__
ignite/test/test-resources/temp
test-resources
